# to sync with .dockerignore & pyrightconfig.json

*.pyc
*/*.pyc
*~
*.swp
geckodriver.log

.coverage
coverage/

.nvm/
cache/
build/
dist/
local/
gh-pages/
*.egg-info/

/package-lock.json
/node_modules/
utils/templates/etc/uwsgi/apps-archlinux/searxng.ini:socket
*.ini:socket
utils/templates/etc/httpd/sites-available/searxng.conf:socket
