{% extends 'ssebowa/base.html' %}
{% block content %}
<div class="main-slider ms1">
    <div class="banner-carousel owl-carousel">
        <div class="ms1-item">
            <img src="{{ url_for('static', filename='themes/ssebowa/img/slider/img_1.jpg') }}" alt="">
            <div class="pos-r g-table">
                <div class="d-middle">
                    <div class="container crop">
                        <div class="item-inner"> <span class="slider-icon">
                                <i class="nivio-tree-leaf"></i>
                            </span>
                            <p class="f2 c3 fw-4">Your search can change the world</p>
                            <div class="head-lines f1 cw mb-55">
                                <h1 class="fw-7">Together we</h1>
                                <h1 class="fw-7">can make a</h1>
                                <h1 class="fw-7">difference</h1>
                            </div> <a href="https://ssebowa.com/" class="thm-btn hvr-2 bg3 c4">Start Today!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ms1-item">
            <img src="{{ url_for('static', filename='themes/ssebowa/img/slider/img_4.jpg') }}" alt="">
            <div class="pos-r g-table">
                <div class="d-middle">
                    <div class="container crop">
                        <div class="item-inner"> <span class="slider-icon">
                                <i class="nivio-tree-leaf"></i>
                            </span>
                            <p class="f2 c3 fw-4">Your search can change the world</p>
                            <div class="head-lines f1 cw mb-50">
                                <h1 class="fw-7">Together we</h1>
                                <h1 class="fw-7">can bring</h1>
                                <h1 class="fw-7">the change</h1>
                            </div> <a href="https://ssebowa.com/" class="thm-btn hvr-3 bg1 cw">Just Search</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main-slider end -->
<!-- page-content start -->
<div class="page-content">
    <div class="intro1 pb-100">
        <div class="container">
            <div class="row">
                <div class="section-header text-center mb-60">
                    <h2 class="f2 c1">welcome to Ssebowa</h2>
                    <h1 class="f1 fw-7 c4">Time to change the world</h1>
                </div>
                <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0 col-xs-offset-0 mb-sm-50">
                    <div class="item">
                        <div class="item-thumb">
                            <a href="#">
                                <img src="{{ url_for('static', filename='themes/ssebowa/img/intro/support.jpg') }}"
                                    alt="intro thumb">
                            </a>
                        </div>
                        <div class="item-txt text-center f1">
                            <h2 class="fw-6">Became Climate Active.</h2>
                            <p class="fw-4">Everytime you search with Ssebowa, you plant a needed tree in a
                                needed place.</p>
                            <a href="#" class="rdm"> <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-xs-50">
                    <div class="item">
                        <div class="item-thumb">
                            <a href="#">
                                <img src="{{ url_for('static', filename='themes/ssebowa/img/intro/img_6.jpg') }}"
                                    alt="intro thumb">
                            </a>
                        </div>
                        <div class="item-txt text-center f1">
                            <h2 class="fw-6">Become Soil Active</h2>
                            <p class="fw-4">Your searches contributes to bring back the deforested land back to
                                shade.</p>
                            <a href="#" class="rdm"> <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-xs-50">
                    <div class="item">
                        <div class="item-thumb">
                            <a href="#">
                                <img src="{{ url_for('static', filename='themes/ssebowa/img/intro/img_5.jpg') }}"
                                    alt="intro thumb">
                            </a>
                        </div>
                        <div class="item-txt text-center f1">
                            <h2 class="fw-6">Become Animal Active</h2>
                            <p class="fw-4">Animal protection is education to humanity. Let them test the
                                sweetness of technology</p>
                            <a href="#" class="rdm"> <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hotline">
        <div class="txt-row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="item">
                            <div class="section-header">
                                <h2 class="f2 c1">time to change</h2>
                                <h1 class="f1 fw-7 c4">Join the race of heeling this gorgous planet</h1>
                            </div>
                            <p class="f1 fw-4 mt-45">Together we can connect technology to humanity. By
                                searching,
                                you can join us in making each species test the greatness of technology
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contac-row mt-60">
            <div class="container">
                <div class="row pos-r">
                    <div class="col-lg-6 pos-s col-lg-push-6">
                        <div class="vdo">
                            <img src="{{ url_for('static', filename='themes/ssebowa/img/vdo/shirt.jpg') }}" alt="">
                            <a href="https://youtu.be/AjcEQ7cGVOc&amp;controls=0&amp;showinfo=0"
                                class="play-button html5lightbox"> <i class="fa fa-play c4"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-lg-pull-6">
                        <div class="item clearfix">
                            <div class="icon-box"> <span>
                                    <i class="nivio-phone-call"></i>
                                </span>
                            </div>
                            <div class="txt-box f1">
                                <h2 class="fw-6 cw">It is a call, lets do it together: <span><a
                                            href="https://ssebowa.com/" class="c3 fw-7">Search Now</a></span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="brands py-100">
                <div class="container">
                    <div class="brand-carousel owl-carousel">
                        <div class="brandItem text-center">
                            <a href="#" class="brands-icon-envato"></a>
                        </div>
                        <div class="brandItem text-center">
                            <a href="#" class="brands-icon-codecanyon"></a>
                        </div>
                        <div class="brandItem text-center">
                            <a href="#" class="brands-icon-graphicriver"></a>
                        </div>
                        <div class="brandItem text-center">
                            <a href="#" class="brands-icon-themeforest"></a>
                        </div>
                        <div class="brandItem text-center">
                            <a href="#" class="brands-icon-photodune"></a>
                        </div>
                    </div>
                </div>
            </div>-->
    <!-- facts start -->
    <div class="facts-area text-center text-capitalize">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="fact-container mb-sm-50">
                        <div class="single-fact"> <span class="nivio-recycle"></span>
                            <h3 class="fact-title c3 f2 fw-3 text-capitalize">Meals Served</h3>
                            <div class="numscroller fact-num cw f1" data-slno='15' data-min="0" data-max="5493"
                                data-delay='30' data-increment="5">0</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="fact-container mb-sm-50">
                        <div class="single-fact"> <span class="nivio-handshake"></span>
                            <h3 class="fact-title c3 f2 fw-3 text-capitalize">Trees Planted</h3>
                            <div class="numscroller fact-num cw f1" data-slno='15' data-min="0" data-max="1750"
                                data-delay='30' data-increment="5">0</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="fact-container mb-xs-50">
                        <div class="single-fact"> <span class="nivio-growth"></span>
                            <h3 class="fact-title c3 f2 fw-3 text-capitalize">Projects</h3>
                            <div class="numscroller fact-num cw f1" data-slno='15' data-min="0" data-max="2458"
                                data-delay='30' data-increment="5">0</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="fact-container">
                        <div class="single-fact"> <span class="nivio-key"></span>
                            <h3 class="fact-title c3 f2 fw-3 text-capitalize">Comunity</h3>
                            <div class="numscroller fact-num cw f1" data-slno='35' data-min="0" data-max="1670"
                                data-delay='30' data-increment="5">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimony mt-md pt-md">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="f2 c1">testimonials</h2>
                <h1 class="f1 fw-7 c4">What customers says</h1>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
                    <div class="testimonial owl-carousel">
                        <div class="pw-item f1 text-center">
                            <p>This is due to their excellent service, competitive pricing and customer support.
                                It’s throughly refresing to get such a personal touch. Novio in my opinion
                                deserves support for its projects.</p>
                        </div>
                        <div class="pw-item f1 text-center">
                            <p>This is due to their excellent service, competitive pricing and customer support.
                                It’s throughly refresing to get such a personal touch. Novio in my opinion
                                deserves support for its projects.</p>
                        </div>
                        <div class="pw-item f1 text-center">
                            <p>This is due to their excellent service, competitive pricing and customer support.
                                It’s throughly refresing to get such a personal touch. Novio in my opinion
                                deserves support for its projects.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}